* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

/*Sidebar Navigation*/

h1 {
  font-size: 14px;
}

.sidebar-nav {
  background-color: grey;
  color: white;
  position: absolute;
  width: 200px;
}

.sidebar-nav section {
  padding: 30px 20px;
  border-bottom: 1px solid black;
}

.profile-img {
  height: auto;
  width: 100px;
  border-radius: 100%;
}

.log-in {
  text-align: center;
}

#username {
  font-size: 18px;
  margin-right: 5px;
}

#username,
.carrot {
  display: inline-block;
  margin-top: 10px;
}

.carrot {
  transform: rotate(90deg);
}

li {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
}

.categories-nav li {
  text-transform: none;
}

/*Main Content*/

.content {
  position: absolute;
  left: 200px;
}

/*Search Bar*/
.search img,
.search form {
  height: 30px;
  display: inline-block;
}

.search form{
  width: 60%;
  height: 70px;
}

input {
  width: 72.55%;
  border: none;
  border-right: 1px solid grey;
  padding: 33px;
  position: relative;
  bottom: 35px;
}

.search img {
  padding: 25px;
  border-right: 1px solid grey;
}

.search {
  border-bottom: 1px solid grey;
  height: 80px;
}

/*Job Listing Content*/

.job-listing {
  padding: 30px 30px 50px 30px;
  background-color: white;
}

.job-listing img {
  width: 15px;
}

.job-listing button {
  padding: 10px;
  background-color: white;
  border-radius: 100%;
}

.edit-buttons {
  position: absolute;
  right: 30px;
  top: 120px;
}

.location-icon {
  margin-right: 7px;
}

.job-listing p {
  display: inline;
  margin-right: 30px;
}

.job-listing button {
  margin-right: 15px;
}

#open-btn {
  border-radius: 2em;
  height: 40px;
  width: 70px;
}

/*Dashboard Nav Bar*/

.dashboard-nav li {
  display: inline;
  margin: 0px 15px 0px 30px;
  padding-bottom: 17px;
}

.dashboard-nav li:hover {
  border-bottom: 3px solid blue;
}

/*Dashboard Content*/
.dashboard {
  margin-top: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 50px;
}

.grey-background {
  background-color: lightgrey;
}

.graph-1 {
  width: 175px;
  height: 175px;
  border: 10px solid teal;
  border-bottom-color: grey;
  border-radius: 100%;
  transform: rotate(-45deg);
  text-align: center;
}

.graph-2 {
  width: 175px;
  height: 175px;
  border: 10px solid purple;
  border-bottom-color: grey;
  border-right-color: grey;
  border-top-color: grey;
  border-radius: 100%;
  transform: rotate(-45deg);
  text-align: center;
}


.graph-3 {
  width: 175px;
  height: 175px;
  border: 10px solid green;
  border-bottom-color: grey;
  border-right-color: grey;
  border-radius: 100%;
  transform: rotate(-45deg);
  text-align: center;
}

.graph-text {
  transform: rotate(45deg);
  position: relative;
  top: 55px;
}

.graph-1,
.graph-2,
.graph-3 {
  display: inline-block;
  margin: 10px;
}

.graph-num {
  font-size: 35px;
}

.graph,
.bar-graph {
  display: inline-block;
}

.graph {
  width: 55%;
  padding: 50px 0px 30px 30px;
}

.bar-graph {
  width: 42%;
  position: relative;
  top: 15px;
  left: 50px;
}

#bar-graph-img {
  height: 225px;
}

.caption {
  border: 1px solid grey;
  background-color: white;
  padding: 7px;
  border-radius: 1em;
  position: relative;
  text-align: center;
}

.graph .caption {
  width: 220px;
  left: 28%;
  top: 25px;
}

.bar-graph .caption {
  width: 125px;
  left: 27%;
  top: 10px;
}

/*Dashboard Bottom*/

.dashboard-bottom {
  padding: 60px 30px 30px 30px;
}

.description-table {
  width: 65%;
  background-color: white;
}

thead {
  background-color: grey;
  height: 70px;
  color: white;
  text-align: left;
  padding: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {
  background-color: white;
}

.col-1 {
  padding: 30px 0px 30px 30px;
  width: 30%;
}

.col-2 {
  padding: 30px 30px 30px 0px;
}

td {
  border-bottom: 1px solid grey;
  width: 80%;
}

/*Social Sharing Section*/

.share-links {
  width: 30%;
  position: absolute;
  right: 30px;
  top: 685px;
}

.social-btns button{
  width: 100%;
  border-radius: 0;
  padding: 18px;
  margin-bottom: 15px;
  color: white;
}

.facebook-btn {
  background-color: #3B5998;
}

.twitter-btn {
  background-color: #1DA1F2;
}

.linked-in-btn {
  background-color: #0077B5;
}

.share-links img,
.share-links h3 {
  display: inline;
}

.share-links img {
  width: 17px;
  margin-right: 10px;
}

h3 {
  font-size: 24px;
}

.share-links input {
  padding: 18px;
  position: relative;
  width: 87%;
  top: 25px;
  border: none;
}

.link {
  background-color: white;
  padding: 15px;
  color: grey;
  width: 90%;
  display: inline;
  margin-right: 0;
}

.copy-btn {
  background-color: green;
  border: none; 
  padding: 15px;
  width: 10%;
  display: inline;
  color: white;
  margin-left: 0;
}

.link-to-job {
  margin-top: 12px;
}

.link-to-job,
.embed {
  border-bottom: 1px solid grey;
}

.embed p {
  margin-bottom: 30px;
}

.embed,
.upload {
  margin-top: 25px;
}

.link-to-job p,
.embed p {
  margin: 10px 0px 35px 0px;
}

.link-section {
  margin-bottom: 50px;
}

.upload p {
  margin-top: 10px;
}